* {
    margin: 0;
    padding: 0;
   
}
body{
    background-color: coral;
}


.mercedez{
    width:65px;
    height: 65px;
    border-radius: 60%;
    padding-left: 30px;
   
   
    
}



/* .container{
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 75px;
    padding: 10px;
} */


header {
    background-color: black;

}


h1{
    text-align: center;
    color: white;
    /* margin-top:30px; */
    padding: 1px;
    
   
  
 
}



