*{
    margin: 0px;
    padding: 0px;
}

td{
    border: 1px solid rgba(0, 0, 0, 0.652);
    border-radius: 10%;
    height: 50px;
    width: 50px;
    background-color:burlywood(0, 0, 0, 0.652);
    color: black;
    background-color: beige;
}


table{
    margin: auto;
    width: 350px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color:white;
    border-radius: 10px;
    border: black;
}

input{
    border: 0px;
    font-size: 1em;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.652);
    color: white;
    height: 100%;
    width: 100%;
    text-align: right;
}

.vazio{
    width: 600px;
    height: 400px;
}

.off:hover{
    background-color: tomato;
}



.Verde:hover{
    background-color: beige;
    border-color: black;
   color:forestgreen;
   background-color: greenyellow;
   

    
}

.Verde1{
    color:white ;
    background-color: forestgreen;
}

.vermelho{
   width: 100px;
   height: 100px;
}

#dark:hover{
    background-color:aquamarine;
}

.Preto:hover{
    width: 10px;
    height: 10px;
    background-color: darkturquoise;
}

.Vermelho:hover{
    color: crimson;
    background-color: firebrick;


}



