body{

    background-color: darkgreen;
    display: flex;
   
}

.Container{
    display: flex;
}

img{
    height: 300px;
    width: 300px;
}

.Fotos{
    background-color: blue;
    flex-direction: row;
}

.DBZ{
    background-color:brown;
    width: 24%;
  
}

