body{
    background-color: rgb(12, 12, 44);
    margin: auto;
}

img{
    height: 300px;
    width: 300px;
}

.Imagens{
   background-color: rgb(45, 45, 221)
}

.Imagens{
    background-color: bisque;
    text-align: center;
}

